$tile-1: #145F4B;
$tile-2: #FAE8A8;

#board {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 96vh;
    height: 96vh;

    .file {
        display: inline-block;
    
        .tile {
            height: 12vh;
            width: 12vh;
        }
    }

    .file:nth-child(odd) {
        .rank:nth-child(odd) {
            background-color: $tile-1;
        }
    
        .rank:nth-child(even) {
            background-color: $tile-2;
        }
    }
    
    .file:nth-child(even) {
        .rank:nth-child(odd) {
            background-color: $tile-2;
        }
    
        .rank:nth-child(even) {
            background-color: $tile-1;
        }
    }
}